@page
@model ASP_MVC_NoAuthentication.Pages.UserPanelModel
@{
    ViewData["Title"] = "Panel użytkownika";
    Layout = "_Layout";
    var removeUrl = Url.Content("~/") + "Car/RemoveUserCar?carid=";
    var editUrl = Url.Content("~/") + "EditCar?carid=";
    var addUrl = Url.Content("~/") + "AddNewCar";
    var removeAccountUrl = Url.Content("~/") + "User/DeleteUser?userId=" + Model.currentUser.Id;
}

<!DOCTYPE html>
<html lang="en" >

    <head>
        <!-- My CSS -->
        <link rel="stylesheet" href="~/css/UserPanel.css">
    </head>

    <body>
        <h1>
            Panel użytkownika
        </h1>
        <br>
        <h2>
            Twoje samochody:
        </h2>
        <div class="table-responsive">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>
                            Marka
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Zasięg maksymalny
                        </th>
                        <th>
                            Gniazda ładowania
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.cars != null && Model.cars.Count > 0)
                    {
                    @foreach (var (car, index) in Model.cars.Select((v, i) => (v, i)))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => car.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => car.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => car.MaximumDistance) km
                            </td>
                            <td>
                                @car.CarConnectorInterfacesToString()
                            </td>
                            <td>
                                <input type="button" class="myButton button-safe" onclick="location.href='@(editUrl + Model.cars[index].Id)';" value="Edytuj" />
                            </td>
                            <td>
                                <input type="button" class="myButton button-remove" onclick="if(window.confirm('Jesteś pewien że chcesz usunąć ten samochód?')) { location.href='@(removeUrl + Model.cars[index].Id)'; }" value="Usuń" />
                            </td>
                        </tr>
                    }
                }
                <tr>
                        <td>
                           <input type="button" class="myButton button-safe" onclick="location.href='@addUrl';" value="Dodaj" />
                        </td>
                        <td></td><td></td><td></td><td></td><td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="spacing"></div>

        <!---- User settings ----->

        <h2>
            Ustawienia:
        </h2>
        <hr class="rounded">
        <div class="settings">
             <form asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-page-handler="SaveSettings">
                 <h3>Pokazuj tylko moje samochody&nbsp;&nbsp;
                    <img src="@Url.Content("~/images/question_mark.png")" class="questionMark" data-toggle="tooltip" data-placement="bottom" title="Zaznacz, aby na liście samochodów na stronie głównej planowania trasy pojawiały się tylko Twoje samochody. Pozostaw puste, a oprócz Twoich samochodów zostaną wyświetlone domyślne."/></h3>
                 @if (Model.currentUser.ShowOnlyMyCars)
                 {
                    <input class="form-check-input" type="checkbox" id="showMyCarsCheckBox" name="showMyCarsCheckBox" checked>
                 }
                 @if (!Model.currentUser.ShowOnlyMyCars)
                 {
                    <input class="form-check-input" type="checkbox" id="showMyCarsCheckBox" name="showMyCarsCheckBox">
                 }
                 <hr class="rounded">
                 <button type = "submit" class="myButton button-safe settings-button">Zapisz ustawienia</button>
                 <hr class="rounded">
                 <input type="button" class="myButton button-remove settings-button" style="margin-bottom:8vh" onclick="if(window.confirm('Jesteś pewien że chcesz usunąć konto? Ta operacja jest nieodwracalna a wszystkie dane zostaną usunięte.')) { RemoveAccount(); }" value="Usuń konto" />
             </form>
         </div>

        <!----- Libraries  ------>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        
        <!-- Tooltip appearance script -->
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })

            function RemoveAccount() {
                let email = prompt("Aby potwierdzić usunięcie konta użytkownika, przepisz swój adres email do pola poniżej (Twój adres email: @Model.currentUser.Email)");
                if (email === null) {
                    return;
                }
                else if (email === "@Model.currentUser.Email") {
                    window.location.href = "@removeAccountUrl";
                }
                else {
                    alert("Adres email nie zgadza się!");
                    RemoveAccount();
                }
            }
        </script>
    </body>
</html>


