@page
@model ASP_MVC_NoAuthentication.Pages.UserPanelModel
@{
    ViewData["Title"] = "Panel użytkownika";
    Layout = "_Layout";
    var removeUrl = Url.Content("~/") + "Car/RemoveUserCar?carid=";
    var editUrl = Url.Content("~/") + "EditCar?carid=";
    var addUrl = Url.Content("~/") + "AddNewCar";
}

<!DOCTYPE html>
<html lang="en" >

    <head>
        <!-- My CSS -->
        <link rel="stylesheet" href="~/css/UserPanel.css">
    </head>

    <body>
        <h1>
            Panel użytkownika
        </h1>
        <br>
        <h2>
            Twoje samochody:
        </h2>
        <div class="table-responsive">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>
                            Marka
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Zasięg maksymalny
                        </th>
                        <th>
                            Gniazda ładowania
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.cars != null && Model.cars.Count > 0)
                    {
                    @foreach (var (car, index) in Model.cars.Select((v, i) => (v, i)))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => car.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => car.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => car.MaximumDistance)
                            </td>
                            <td>
                                @car.ConnectorsToString()
                            </td>
                            <td>
                                <input type="button" class="myButton button-safe" onclick="location.href='@(editUrl + Model.cars[index].Id)';" value="Edytuj" />
                            </td>
                            <td>
                                <input type="button" class="myButton button-remove" onclick="if(window.confirm('Jesteś pewien że chcesz usunąć ten samochód?')) { location.href='@(removeUrl + Model.cars[index].Id)'; }" value="Usuń" />
                            </td>
                        </tr>
                    }
                }
                <tr>
                        <td>
                           <input type="button" class="myButton button-safe" onclick="location.href='@addUrl';" value="Dodaj" />
                        </td>
                        <td></td><td></td><td></td><td></td><td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="spacing"></div>

        <!---- User settings ----->

        <h2>
            Ustawienia:
        </h2>
        <hr class="rounded">
        <div class="settings">
             <form asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-page-handler="SaveSettings">
                 <div class="my-tooltip">
                    <h3>Współczynnik letni&nbsp;&nbsp;
                    <img src="@Url.Content("~/images/question_mark.png")" class="questionMark" data-toggle="tooltip" data-placement="bottom" title="Współczynnik letni określa procent spadku wydajności baterii w lato. Zależy on głównie od Twojego samochodu i używanego wyposażenia, zwłaszcza klimatyzacji. Szacuje się, że spadek wydajności latem może być równy nawet do 20%."/></h3>
                 </div>
                 <div class="slider-label"><input type="range" name="summerFactorRange" class="slider" id="summerFactorRange" value="@(Model.currentUser.SummerFactor*100)" min="0" max="20" oninput="this.nextElementSibling.value = this.value"/>
                 -<output>@((int)(Model.currentUser.SummerFactor*100))</output>%</div>
                 <br />
                 <div class="my-tooltip" >
                     <h3>Współczynnik zimowy&nbsp;&nbsp;
                    <img src="@Url.Content("~/images/question_mark.png")" class="questionMark" data-toggle="tooltip" data-placement="bottom" title="Współczynnik zimowy określa procent spadku wydajności baterii w zimę. Zależy on głównie od Twojego samochodu i używanego wyposażenia, zwłaszcza ogrzewania. Szacuje się, że spadek wydajności zimą może być równy nawet do 50%."/></h3>
                 </div>
                 <div class="slider-label"><input type="range" name="winterFactorRange" id="winterFactorRange" value="@(Model.currentUser.WinterFactor*100)" min="0" max="50" oninput="this.nextElementSibling.value = this.value"/>
                 -<output>@((int)(Model.currentUser.WinterFactor*100))</output>%</div>
                 <hr class="rounded">
                 <div class="my-tooltip">
                     <h3>Styl jazdy&nbsp;&nbsp;
                    <img src="@Url.Content("~/images/question_mark.png")" class="questionMark" data-toggle="tooltip" data-placement="bottom" title="Styl jazdy w dużej mierze wpływa na realny zasięg Twojego samochodu. Przy wolnej jeździe (np. do 120 km/h na autostradzie) zaoszczędzisz wiele energii w akumulatorze i dojedziesz dalej."/></h3>
                 </div>
                 <select name="drivingStyleSelect" id="drivingStyleSelect">
                    <optgroup label="Styl jazdy">
                    @if (Model.currentUser.DrivingStyle == "ekonomiczny")
                    {
                        <option selected value = "ekonomiczny">Ekonomiczny</option>
                        <option value = "mieszany">Mieszany</option>
                        <option value = "dynamiczny">Dynamiczny</option>
                    }
                    @if (Model.currentUser.DrivingStyle == "mieszany")
                    {
                        <option value = "ekonomiczny">Ekonomiczny</option>
                        <option selected value = "mieszany">Mieszany</option>
                        <option value = "dynamiczny">Dynamiczny</option>
                    }
                    @if (Model.currentUser.DrivingStyle == "dynamiczny")
                    {
                        <option value = "ekonomiczny">Ekonomiczny</option>
                        <option value = "mieszany">Mieszany</option>
                        <option selected value = "dynamiczny">Dynamiczny</option>
                    }
                    </optgroup>
                 </select>
                 <hr class="rounded">
                 <h3>Pokazuj tylko moje samochody&nbsp;&nbsp;
                    <img src="@Url.Content("~/images/question_mark.png")" class="questionMark" data-toggle="tooltip" data-placement="bottom" title="Zaznacz, aby na liście samochodów na stronie głównej planowania trasy pojawiały się tylko Twoje samochody. Pozostaw puste, a oprócz Twoich samochodów zostaną wyświetlone domyślne."/></h3>
                 @if (Model.currentUser.ShowOnlyMyCars)
                 {
                    <input class="form-check-input" type="checkbox" id="showMyCarsCheckBox" name="showMyCarsCheckBox" checked>
                 }
                 @if (!Model.currentUser.ShowOnlyMyCars)
                 {
                    <input class="form-check-input" type="checkbox" id="showMyCarsCheckBox" name="showMyCarsCheckBox">
                 }
                 <hr class="rounded">
                 <button type = "submit" class="myButton button-safe settings-button" style="margin-bottom:8vh">Zapisz</button>
             </form>
         </div>

        <!----- Libraries  ------>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        
        <!-- Tooltip appearance script -->
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </body>
</html>


