@page
@model RoutePlanner.Pages.UserPanelModel
@{
    ViewData["Title"] = "Panel użytkownika";
    Layout = "_Layout";
    var removeUrl = Url.Content("~/") + "Car/RemoveUserCar?carid=";
    var editUrl = Url.Content("~/") + "EditCar?carid=";
    var addUrl = Url.Content("~/") + "AddNewCar";
    var removeAccountUrl = Url.Content("~/") + "User/DeleteUser?userId=" + Model.CurrentUser.Id;
}

<!DOCTYPE html>
<html lang="en" >

    <head>
        <!-- My CSS -->
        <link rel="stylesheet" href="~/css/UserPanel.css">
    </head>

    <body>
        <h1>
            Panel użytkownika
        </h1>
        <hr class="rounded">
        <h2>
            Twoje samochody:
        </h2>
        <div class="table-responsive">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>
                            @if(Model.Cars.Count > 0)
                            {
                               @:Marka 
                            }
                        </th>
                        <th>
                            @if(Model.Cars.Count > 0)
                            {
                               @:Model 
                            }
                        </th>
                        <th>
                            @if(Model.Cars.Count > 0)
                            {
                               @:Zasięg 
                            }
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Cars != null && Model.Cars.Count > 0)
                    {
                    @foreach (var (car, index) in Model.Cars.Select((v, i) => (v, i)))
                    {
                        <tr>
                            <td style="padding-bottom:0.7em;padding-top:0.7em">
                                @Html.DisplayFor(modelItem => car.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => car.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => car.MaximumDistance) km
                            </td>
                            <td class="buttonsTd">
                                <input type="button" class="myButton editButton button-safe" onclick="location.href='@(editUrl + Model.Cars[index].Id)';" value="Edytuj" />
                                <input type="button" class="myButton removeButton button-remove" onclick="if(window.confirm('Jesteś pewien że chcesz usunąć ten samochód?')) { location.href='@(removeUrl + Model.Cars[index].Id)'; }" value="Usuń" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="padding-bottom:0.7em;padding-top:0.7em">
                                <b>Złącza: </b>@car.CarConnectorInterfacesToString()
                            </td>
                        </tr>
                    }
                }
                <tr>
                        <td colspan="4" style="text-align:center">
                            <input type="button" class="myButton addButton button-safe" onclick="location.href='@addUrl';" value="Dodaj nowy samochód" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="spacing"></div>

        <!---- User settings ----->

        <hr class="rounded">
        <h2>
            Ustawienia:
        </h2>
        <br />
        <div class="settings">
             <form method="post" asp-page-handler="SaveSettings">
                 <h3>Pokazuj tylko moje samochody&nbsp;&nbsp;
                    <img src="@Url.Content("~/images/question_mark.png")" class="questionMark" data-toggle="tooltip" data-placement="bottom" title="Zaznacz, aby na liście samochodów na stronie głównej planowania trasy pojawiały się tylko Twoje samochody. Pozostaw puste, a oprócz Twoich samochodów zostaną wyświetlone domyślne."/></h3>
                 @if (Model.CurrentUser.ShowOnlyMyCars)
                 {
                    <input class="form-check-input" type="checkbox" id="showMyCarsCheckBox" name="showMyCarsCheckBox" checked>
                 }
                 @if (!Model.CurrentUser.ShowOnlyMyCars)
                 {
                    <input class="form-check-input" type="checkbox" id="showMyCarsCheckBox" name="showMyCarsCheckBox">
                 }
                 <br /><br /><br />
                 <button type = "submit" class="myButton button-safe settings-button">Zapisz ustawienia</button>
                 <hr class="rounded"><br /><br />
                 <input type="button" class="myButton removeButton settings-button" style="margin-bottom:8vh" onclick="if(window.confirm('Jesteś pewien że chcesz usunąć konto? Ta operacja jest nieodwracalna a wszystkie dane zostaną usunięte.')) { RemoveAccount(); }" value="Usuń konto" />
             </form>
         </div>

        <!----- Libraries  ------>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <!-- Tooltip appearance script -->
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })

            function RemoveAccount() {
                let email = prompt("Aby potwierdzić usunięcie konta użytkownika, przepisz swój adres email do pola poniżej (Twój adres email: @Model.CurrentUser.Email)");
                if (email === null) {
                    return;
                }
                else if (email === "@Model.CurrentUser.Email") {
                    window.location.href = "@removeAccountUrl";
                }
                else {
                    alert("Adres email nie zgadza się!");
                    RemoveAccount();
                }
            }
        </script>
    </body>
</html>


